//Golos Text

@font-face {
  font-weight: 400;
  font-family: GolosText;
  src: url('src/fonts/Golos_Text/GolosText-Regular.ttf');
}

@font-face {
  font-weight: 500;
  font-family: GolosText;
  src: url('src/fonts/Golos_Text/GolosText-Medium.ttf');
}

@font-face {
  font-weight: 600;
  font-family: GolosText;
  src: url('src/fonts/Golos_Text/GolosText-SemiBold.ttf');
}

@font-face {
  font-weight: 700;
  font-family: GolosText;
  src: url('src/fonts/Golos_Text/GolosText-Bold.ttf');
}

//Merriweather

@font-face {
  font-weight: 400;
  font-family: Merriweather;
  src: url('src/fonts/Merriweather/Merriweather-Regular.ttf');
}
@font-face {
  font-weight: 700;
  font-family: Merriweather;
  src: url('src/fonts/Merriweather/Merriweather-Bold.ttf');
}

