//Fonts

$font-main: Merriweather, sans-serif;
$font-secondary: Golos_Text, serif;

//Colors

$title: #313131;
$default_btn: #1F1F1F;
$default: #FFFFFF;
$hover_btn: #FBCE51;
$disabled_btn: #D6D6D6;
$color_btn: #3057A2;
$line: #F54932;
$fon: #ece1cf;
